*{
    padding: 0;
    margin: 0;
}
.craud{
    margin-top: 30px;
    margin: auto;
}
.craud h1{

    color: aqua !important;
    font-size: 40px;
    font-weight: bolder;

}
.btn1{
    border-radius: 20px;
}
input{
    width: 75%!important;
    margin: auto;
}
#particles-js{
    width: 100%;
    height: 200vh;
    background-color: #000;
}
.contan{
    width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-30%) ;
}
table td,tr{
    color: aqua!important;
}